$light: #F2F2F2;
$primary: #232D45;
$primary-200: #002D59;
$dark: #4A514C;
$secondary: #FD6323;
$gray: #525B54;

$body-color: $gray;
$body-bg: #fff;

$font-size-base: 1rem;
$font-family-base: 'Etelka Light Pro', sans-serif;
$headings-font-family: 'Etelka Medium Pro', sans-serif;

$link-color: #fff;
$link-hover-decoration: none;
$input-btn-focus-width: 0;
$input-btn-focus-color: rgba(#fff, 0);
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color;

$border-width: 1px;

$border-radius: 5px;
$btn-padding-x: 20px;
$btn-padding-y: 15px;

$h1-font-size: 1rem * 4.375;
$h2-font-size: 1rem * 3;
$h3-font-size: 1rem * 2.5;
$h4-font-size: 1rem * 1.25;
$h5-font-size: 1rem * 1.125;
$h6-font-size: 1rem;