#app-header{
  position: relative;
  background: $gray;
  z-index: 5;
}

.logo {
  margin-bottom: 0;
  margin-right: 20px;
  font-size: 1.125rem;

  @media (min-width: map_get($grid-breakpoints, lg)) {
    font-size: $h5-font-size;
  }
}

.languages-list {
  position: relative;
  z-index: 20;

  li {
    position: relative;
    width: 70px;
    height: 50px;
    background: $dark;
    font-family: $font-family-base;
    font-size: .875rem;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    .select-languages {

      svg {
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%) scale(1);
        fill: $secondary;
        transition: .5s;
      }
    }

    ul {
      position: absolute;
      top: 50px;
      left: 0;
      opacity: 0;
      pointer-events: none;
      transition: .5s;

      li {
        background: $gray;

        a {
          font-family: $font-family-base;
        }
      }
    }

    &:hover {

      .select-languages {

        svg {
          transform: translateY(-50%) scale(-1);
        }
      }

      ul {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }
}